@use '@angular/material' as mat;

/* 1. Définir les couleurs TROOV */
$troov-primary: mat.define-palette(mat.$green-palette, 800); // proche de #027361
$troov-accent: mat.define-palette(mat.$orange-palette, 600); // proche de #db680a
$troov-warn: mat.define-palette(mat.$red-palette);

/* 2. Créer un thème clair */
$troov-theme: mat.define-light-theme((
  color: (
    primary: $troov-primary,
    accent: $troov-accent,
    warn: $troov-warn,
  )
));

/* 3. Appliquer le thème */
@include mat.all-component-themes($troov-theme);